<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<link rel="stylesheet" href="../static/css/index.css">
  <link rel="stylesheet" href="../static/css/swiper.min.css">


	<link href="http://cdn.bootcss.com/normalize/4.2.0/normalize.min.css" rel="stylesheet">

	<title>公司简介</title>


	<script src="../static/js/jquery-1.6.4.min.js"></script>
	<script src="../static/js/index.js"></script>
  <script src="../static/js/swiper.min.js"></script>

	<style>

	li{ list-style-type: none; }
</style>
</head>
<body>
	<div class="page-box">
		
		<div class="container">
			<div class="top">
				<div style="margin:0 auto;width: 64%;height: 118px;">
				<div class="logo">
					<img src="../static/images/logo.png">
				</div>
				<!-- <div class="login-register">
					<span >登录</span>
					<span>|</span>
					<span>注册</span>
				</div> -->
			</div>
			</div>
			<div class="head">
				<ul class="nav nav-tabs">
					<li>
						<a href="index.html" class="">首 页</a>
					</li>
					<li>
						<a href="About.html" class="active">公司简介</a>
					</li>
					<li>
						<a href="Draw.html" class="">名人名画</a>
					</li>
					<li>
						<a href="Sale.html" class="">慈善拍卖</a>
					</li>
					<li>
						<a href="News.html" class="">新闻中心</a>
					</li>
					<li>
						<a href="ContactUs.html" class="">联系我们</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
      	<img class="sliderimg" src="../static/images/书画斋_02.jpg" alt="" width="100%" >
      </div>
      <div class="swiper-slide">
      	<img class="sliderimg" src="../static/images/书画斋banner2.jpg" alt="" width="100%" >
      </div>
      <div class="swiper-slide">
      	<img class="sliderimg" src="../static/images/书画斋banner.jpg" alt="" width="100%" >
      </div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
    <!-- Add Arrows -->
  </div>
		<div class="notice">
			<div style="width: 63%;margin:0 auto;height: 80px;">

				<div class="notice_1">
					最新公告
				</div>

				<div id="news" class="notice_2" >
					<ul class="mingdan" id="holder">
						<li><a href="#" target="_blank">【商讯】开展清明返乡捐资助学活动圆满顺利</a> <span  style="float: right; color: #fff;">2018-10-16</span>
						</li>

						<li><a href="#" target="_blank">【商讯】开展清明返乡捐资助学活动圆满顺利</a> <span  style="float: right; color: #fff;">2018-10-16</span>
						</li>
						<li><a href="#" target="_blank">【商讯】开展清明返乡捐资助学活动圆满顺利</a> <span  style="float: right; color: #fff;">2018-10-16</span>
						</li>
						<li><a href="#" target="_blank">【商讯】开展清明返乡捐资助学活动圆满顺利</a> <span  style="float: right; color: #fff;">2018-10-16</span>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="jianjie">

			<div class="jianjie_middle">
				<img src="../static/images/公司简介.png" style="margin: 80px 220px;">
				<div class="jianjie_abstract">
					<font >  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;国伟名人书画斋为了弘扬国粹，结合十九大精神！秉承“让名人书画，入驻平凡百姓家”的宗旨！同心 同感 同路 同行！共同打造一个积极弘扬国粹的书话斋！</font>
				</div>
				<img src="../static/images/门店详情.png" style="margin: 80px 220px;">
				<div style="width: 1340px;height: 300px; margin:0 atuo;">
					<div class="img_zuo">
						<img src="../static/images/切换左.png">
					</div>
					<div class="img_you">
						<img src="../static/images/切换右.png">
					</div>
					<div class="jianjie_store">
						<img src="../static/images/门店详情图片.png" style="margin:20px;">
						<div style="float: right;width: 450px;margin-right:80px;margin-top: 45px ;	font-family: 'fanti';"><div>
							<font style="font-size: 23px;letter-spacing: 5px;">国画名人书画馆
							</font>

							<font style="font-size: 19px;letter-spacing: 5px;">北京总馆</font>
						</div>
						<div style="width: 400px;">
							<HR style="width:20%; color:#000; SIZE:1;margin: 35px 0">
						</div>

						<div>

							<font style="font-size: 14px;letter-spacing: 4px;color: #5e5e5e;">地址：佛山市顺德区龙江镇325国道边3号伟雄商业办公楼六楼（佛山莆田商会） </font></br>
							<font style="font-size: 14px;letter-spacing: 4px;color: #5e5e5e">电话：18666651666</font>
						</div>

					</div>
					
				</div>
			</div>
		</div>

	</div>
	<div class="bottom">
		<div class="bottom_1">
			<li>
				<a href="#">关于我们</a>
			</li>
			<li class="nbsp">|</li>
			<li>
				<a href="#">联系我们</a>
			</li>
			<li class="nbsp">|</li>
			<li>
				<a href="#">国伟名人书画斋</a>
			</li>
			<li class="nbsp">|</li>
			<li>
				<a href="#">新闻中心</a>
			</li>
			<li class="nbsp">|</li>
			<li>
				<a href="#">服务条款</a>
			</li>
		</div>
		<div class="bottom_2">
			<li>
				<a href="#" style="color: #a5a5a5;">友情链接：</a>
			</li>
			<li>
				<a href="#">中国美术家协会</a>
			</li>
			<li class="nbsp">|</li>
			<li>
				<a href="#">中国国家画院</a>
			</li>
			<li class="nbsp">|</li>
			<li>
				<a href="#">中国美术馆</a>
			</li>
			<li class="nbsp">|</li>
			<li>
				<a href="#">东方收藏</a>
			</li>
		</div>
		<div style="	margin-top: 25px;">

			<HR style="margin:0 auto;width:65%; color:#080707; SIZE:1">
		</div>
		<div class="bottom_3">
			Copyright 2018 国伟名人书画斋 京ICP备xxxxxxxxx号-x
		</div>
	</div>
</div>
	<script>
    var swiper = new Swiper('.swiper-container', {
      spaceBetween: 30,
      centeredSlides: true,
      autoplay: {
        delay: 2500,
        disableOnInteraction: false,
      },
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
    });
  </script>
</body>

