<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link rel="stylesheet" href="../static/css/index.css">
	<link rel="stylesheet" href="../static/css/swiper.min.css">


	<link href="http://cdn.bootcss.com/normalize/4.2.0/normalize.min.css" rel="stylesheet">

	<title>联系我们</title>


	<script src="../static/js/jquery-1.6.4.min.js"></script>
	<script src="../static/js/index.js"></script>
	<script src="../static/js/swiper.min.js"></script>

	<style>

li{ list-style-type: none; }</style>
</head>
<body>
	<div class="page-box">
		
			<div class="container">
			<div class="top">
				<div style="margin:0 auto;width: 64%;height: 118px;">
				<div class="logo">
					<img src="../static/images/logo.png">
				</div>
				<!-- <div class="login-register">
					<span >登录</span>
					<span>|</span>
					<span>注册</span>
				</div> -->
			</div>
			</div>
			<div class="head">
				<ul class="nav nav-tabs">
					<li>
						<a href="index.html" class="">首 页</a>
					</li>
					<li>
						<a href="About.html" class="">公司简介</a>
					</li>
					<li>
						<a href="Draw.html" class="">名人名画</a>
					</li>
					<li>
						<a href="Sale.html" class="">慈善拍卖</a>
					</li>
					<li>
						<a href="News.html" class="">新闻中心</a>
					</li>
					<li>
						<a href="ContactUs.html" class="active">联系我们</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="swiper-container">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<img class="sliderimg" src="../static/images/书画斋_02.jpg" alt="" width="100%" >
				</div>
				<div class="swiper-slide">
					<img class="sliderimg" src="../static/images/书画斋banner2.jpg" alt="" width="100%" >
				</div>
				<div class="swiper-slide">
					<img class="sliderimg" src="../static/images/书画斋banner.jpg" alt="" width="100%" >
				</div>
			</div>
			<!-- Add Pagination -->
			<div class="swiper-pagination"></div>
			<!-- Add Arrows -->
		</div>

		<div class="notice">
			<div style="width: 63%;margin:0 auto;height: 80px;">

				<div class="notice_1">
					最新公告
				</div>

				<div id="news" class="notice_2" >
					<ul class="mingdan" id="holder">
						<li><a href="#" target="_blank">【商讯】开展清明返乡捐资助学活动圆满顺利</a> <span  style="float: right; color: #fff;">2018-10-16</span>
						</li>

						<li><a href="#" target="_blank">【商讯】开展清明返乡捐资助学活动圆满顺利</a> <span  style="float: right; color: #fff;">2018-10-16</span>
						</li>
						<li><a href="#" target="_blank">【商讯】开展清明返乡捐资助学活动圆满顺利</a> <span  style="float: right; color: #fff;">2018-10-16</span>
						</li>
						<li><a href="#" target="_blank">【商讯】开展清明返乡捐资助学活动圆满顺利</a> <span  style="float: right; color: #fff;">2018-10-16</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div>
			<img src="../static/images/联系我们图.png" style="width: 100%">
		</div>
		<div class="lianxi">
			<div style="margin:0 auto;width: 1200px;">
				<div style="padding: 80px 0; ">
					<div style="width:100px;margin-left: 294px;margin-right: 70px;float: left; padding-top: 15px">
						<HR style="width:100px; color:#9e9f9a; SIZE:2;align:center;"></HR>
					</div>
					
					<font style="font-size: 25px">我们想听到您的声音</font>
					
					<div style="width:100px;margin-right: 294px;margin-left: 70px;float: right; padding-top: 15px ">
						<HR style="width:100px; color:#9e9f9a;SIZE:2"></HR>
					</div>
				</div>
				<form action="form_action.asp" method="get" style="margin: 0 auto;width: 1200px">
					<input type="text" name="name"placeholder="姓名" value=""  class="input_1" />
					<input type="text" name="mail" placeholder="邮箱"value="" class="input_2">
					<input type="text" name="tel"placeholder="电话" value=""   class="input_1"/>
					<input type="text" name="address" placeholder="地址"value=""  class="input_2"/>
					<textarea name="say" class="text"placeholder="你想对我们说。。。"></textarea>
					<button type="submit" class="submit"style="cursor: pointer;
">提&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;交</button>
				</form>

			</div>
		</div>

		<div class="bottom">
			<div class="bottom_1">
				<li>
					<a href="#">关于我们</a>
				</li>
				<li class="nbsp">|</li>
				<li>
					<a href="#">联系我们</a>
				</li>
				<li class="nbsp">|</li>
				<li>
					<a href="#">国伟名人书画斋</a>
				</li>
				<li class="nbsp">|</li>
				<li>
					<a href="#">新闻中心</a>
				</li>
				<li class="nbsp">|</li>
				<li>
					<a href="#">服务条款</a>
				</li>
			</div>
			<div class="bottom_2">
				<li>
					<a href="#" style="color: #a5a5a5;">友情链接：</a>
				</li>
				<li>
					<a href="#">中国美术家协会</a>
				</li>
				<li class="nbsp">|</li>
				<li>
					<a href="#">中国国家画院</a>
				</li>
				<li class="nbsp">|</li>
				<li>
					<a href="#">中国美术馆</a>
				</li>
				<li class="nbsp">|</li>
				<li>
					<a href="#">东方收藏</a>
				</li>
			</div>
			<div style="	margin-top: 25px;">

				<HR style="margin:0 auto;width:65%; color:#080707; SIZE:1">
			</div>
			<div class="bottom_3">
				Copyright 2018 国伟名人书画斋 京ICP备xxxxxxxxx号-x
			</div>
		</div>
	</div>
	<script>
		var swiper = new Swiper('.swiper-container', {
			spaceBetween: 30,
			centeredSlides: true,
			autoplay: {
				delay: 2500,
				disableOnInteraction: false,
			},
			pagination: {
				el: '.swiper-pagination',
				clickable: true,
			},
			navigation: {
				nextEl: '.swiper-button-next',
				prevEl: '.swiper-button-prev',
			},
		});
	</script>
</body>

