<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link rel="stylesheet" href="../static/css/index.css">

	<link rel="stylesheet" href="../static/css/swiper.min.css">


	<link href="http://cdn.bootcss.com/normalize/4.2.0/normalize.min.css" rel="stylesheet">

	<title>名人书画</title>


	<script src="../static/js/jquery-1.6.4.min.js"></script>
	<script src="../static/js/index.js"></script>
	<script src="../static/js/unslider.min.js"></script>
	<script src="../static/js/swiper.min.js"></script>

	<style>

	li{ list-style-type: none; }
</style>
</head>
<body>
	<div class="page-box">
		
		<div class="container">
			<div class="top">
				<div style="margin:0 auto;width: 64%;height: 118px;">
				<div class="logo">
					<img src="../static/images/logo.png">
				</div>
				<!-- <div class="login-register">
					<span >登录</span>
					<span>|</span>
					<span>注册</span>
				</div> -->
			</div>
			</div>
			<div class="head">
				<ul class="nav nav-tabs">
					<li>
						<a href="index.html" class="">首 页</a>
					</li>
					<li>
						<a href="About.html" class="">公司简介</a>
					</li>
					<li>
						<a href="Draw.html" class="active">名人名画</a>
					</li>
					<li>
						<a href="Sale.html" class="">慈善拍卖</a>
					</li>
					<li>
						<a href="News.html" class="">新闻中心</a>
					</li>
					<li>
						<a href="ContactUs.html" class="">联系我们</a>
					</li>
				</ul>
			</div>
		</div>

		<div class="swiper-container">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<img class="sliderimg" src="../static/images/书画斋_02.jpg" alt="" width="100%" >
				</div>
				<div class="swiper-slide">
					<img class="sliderimg" src="../static/images/书画斋banner2.jpg" alt="" width="100%" >
				</div>
				<div class="swiper-slide">
					<img class="sliderimg" src="../static/images/书画斋banner.jpg" alt="" width="100%" >
				</div>
			</div>
			<!-- Add Pagination -->
			<div class="swiper-pagination"></div>
			<!-- Add Arrows -->
		</div>
		
		<div class="notice">
			<div style="width: 63%;margin:0 auto;height: 80px;">

				<div class="notice_1">
					最新公告
				</div>

				<div id="news" class="notice_2" >
					<ul class="mingdan" id="holder">
						<li><a href="#" target="_blank">【商讯】开展清明返乡捐资助学活动圆满顺利</a> <span  style="float: right; color: #fff;">2018-10-16</span>
						</li>

						<li><a href="#" target="_blank">【商讯】开展清明返乡捐资助学活动圆满顺利</a> <span  style="float: right; color: #fff;">2018-10-16</span>
						</li>
						<li><a href="#" target="_blank">【商讯】开展清明返乡捐资助学活动圆满顺利</a> <span  style="float: right; color: #fff;">2018-10-16</span>
						</li>
						<li><a href="#" target="_blank">【商讯】开展清明返乡捐资助学活动圆满顺利</a> <span  style="float: right; color: #fff;">2018-10-16</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="draw_middle">
			<div class="draw_one">
				<div style="margin:0 auto;width:62.5%;padding-top: 108px">
					<img src="../static/images/名   人.png" >
				</div>
			</div>

			<div class="draw_three">

				<a href="DrawDetail.html">
					<div class="person_1">
					<div class="person_pic">
						<img src="../static/images/乔瑞臣照片.png" >
					</div>
					<div class="person_name">
						<font >乔瑞臣</font>
					</div>
					<div class="person_detail">
						<font style="color:#000000;"> 1958年出生于北京通州，当代著名书法家，中国书法艺术研究院一级书法师，中国北京国际书画院副院长，中国大运河（济宁段）中遗南旺杯书画大展主编</font>
					</div>
				</div>
				</a>
			

				<div class="person_2">
					<div class="person_pic">
						<img src="../static/images/包布和照片.png" >
					</div>
					<div class="person_name">
						<font >包布和</font>
					</div>
					<div class="person_detail">
						<font style="color:#000000;">  包布和，蒙古族，北京居住，中国当代艺术家协会理事，中国书画院导师，国家一级美术师，作品《马头琴传说》1985年在日本镰仓日报第二届美术展览获优秀奖</font>
					</div>
				</div>

				<div class="person_3">
					<div class="person_pic">
						<img src="../static/images/禹中斌照片.png" >
					</div>
					<div class="person_name">
						<font >禹中斌</font>
					</div>
					<div class="person_detail">
						<font style="color:#000000;">  1959年生于河北，师从中国美术教育家周秉恭（周鼎）、韩振学先生。毕业后一直从事书画教育、研究和创作。擅真、行、隶、草多种字体。</font>
					</div>
				</div>

				<div class="person_4">
					<div class="person_pic">
						<img src="../static/images/范智新照片.png" >
					</div>
					<div class="person_name">
						<font >范智新</font>
					</div>
					<div class="person_detail">
						<font style="color:#000000;">  生于江苏南通市，92年作品入选第二回中日名家联展。96年获全国当代中青年书画展金星奖。97年香港回归书展获精英奖。98年获全国首届“刘邦杯”书画大赛一等奖</font>
					</div>
				</div> 

			</div>

			<div class="draw_one">
				<div style="margin:0 auto;width:62.5%;padding-top: 108px">
					<img src="../static/images/书画  作品.png" >
				</div>
			</div>

			<div class="draw_two">
				<div class="draw_1">
					<div class="inf">
						<li class="font_detail_1">作品名称</li>
						<li class="font_detail_2">作者名</li>
						<li class="font_detail_2">所属类型</li>
						<button class="btn" style="font-size: 14px;"><font style="color: #ffffff">详情</font></button>
					</div>
					<div class="inf_img">
						<img src="../static/images/书画_10.png">
					</div>
				</div>
				<div class="draw_2">
					<div class="inf">
						<li class="font_detail_1">作品名称</li>
						<li class="font_detail_2">作者名</li>
						<li class="font_detail_2">所属类型</li>
						<button class="btn" style="font-size: 14px;"><font style="color: #ffffff">详情</font></button>
					</div>
					<div class="inf_img">
						<img src="../static/images/书画_12.png">
					</div>
				</div>
				<div class="draw_3">
					<div class="inf">
						<li class="font_detail_1">作品名称</li>
						<li class="font_detail_2">作者名</li>
						<li class="font_detail_2">所属类型</li>							
						<button class="btn" style="font-size: 14px;"><font style="color: #ffffff">详情</font></button>
					</div>
					<div class="inf_img">
						<img src="../static/images/书画_14.png">
					</div>
				</div>
				<div class="draw_4">
					<div class="inf">
						<li class="font_detail_1">作品名称</li>
						<li class="font_detail_2">作者名</li>
						<li class="font_detail_2">所属类型</li>							
						<button class="btn" style="font-size: 14px;"><font style="color: #ffffff">详情</font></button>
					</div>
					<div class="inf_img">
						<img src="../static/images/书画_14.png">
					</div>
				</div>
			</div>

			<div class="draw_two">
				<div class="draw_1">
					<div class="inf">
						<li class="font_detail_1">作品名称</li>
						<li class="font_detail_2">作者名</li>
						<li class="font_detail_2">所属类型</li>
						<button class="btn" style="font-size: 14px;"><font style="color: #ffffff">详情</font></button>
					</div>
					<div class="inf_img">
						<img src="../static/images/书画_10.png">
					</div>
				</div>
				<div class="draw_2">
					<div class="inf">
						<li class="font_detail_1">作品名称</li>
						<li class="font_detail_2">作者名</li>
						<li class="font_detail_2">所属类型</li>
						<button class="btn" style="font-size: 14px;"><font style="color: #ffffff">详情</font></button>
					</div>
					<div class="inf_img">
						<img src="../static/images/书画_12.png">
					</div>
				</div>
				<div class="draw_3">
					<div class="inf">
						<li class="font_detail_1">作品名称</li>
						<li class="font_detail_2">作者名</li>
						<li class="font_detail_2">所属类型</li>							
						<button class="btn" style="font-size: 14px;"><font style="color: #ffffff">详情</font></button>
					</div>
					<div class="inf_img">
						<img src="../static/images/书画_14.png">
					</div>
				</div>
				<div class="draw_4">
					<div class="inf">
						<li class="font_detail_1">作品名称</li>
						<li class="font_detail_2">作者名</li>
						<li class="font_detail_2">所属类型</li>							
						<button class="btn" style="font-size: 14px;"><font style="color: #ffffff">详情</font></button>
					</div>
					<div class="inf_img">
						<img src="../static/images/书画_14.png">
					</div>
				</div>
			</div>

			<div class="page">
				<span>上一页</span>
				<a href="#" >1</a>
				<a href="#" >2</a>
				<a href="#" >3</a>
				<a href="#" >4</a>
				<a href="#" >5</a>
				<a href="#" >6</a>
				<span>下一页</span>

			</div>

		</div>


	</div>


	<div class="bottom">
		<div class="bottom_1">
			<li>
				<a href="#">关于我们</a>
			</li>
			<li class="nbsp">|</li>
			<li>
				<a href="#">联系我们</a>
			</li>
			<li class="nbsp">|</li>
			<li>
				<a href="#">国伟名人书画斋</a>
			</li>
			<li class="nbsp">|</li>
			<li>
				<a href="#">新闻中心</a>
			</li>
			<li class="nbsp">|</li>
			<li>
				<a href="#">服务条款</a>
			</li>
		</div>
		<div class="bottom_2">
			<li>
				<a href="#" style="color: #a5a5a5;">友情链接：</a>
			</li>
			<li>
				<a href="#">中国美术家协会</a>
			</li>
			<li class="nbsp">|</li>
			<li>
				<a href="#">中国国家画院</a>
			</li>
			<li class="nbsp">|</li>
			<li>
				<a href="#">中国美术馆</a>
			</li>
			<li class="nbsp">|</li>
			<li>
				<a href="#">东方收藏</a>
			</li>
		</div>
		<div style="	margin-top: 25px;">

			<HR style="margin:0 auto;width:65%; color:#080707; SIZE:1">
		</div>
		<div class="bottom_3">
			Copyright 2018 国伟名人书画斋 京ICP备xxxxxxxxx号-x
		</div>
	</div>
</div>
<script>
	var swiper = new Swiper('.swiper-container', {
		spaceBetween: 30,
		centeredSlides: true,
		autoplay: {
			delay: 2500,
			disableOnInteraction: false,
		},
		pagination: {
			el: '.swiper-pagination',
			clickable: true,
		},
		navigation: {
			nextEl: '.swiper-button-next',
			prevEl: '.swiper-button-prev',
		},
	});
</script>
</body>

