<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link rel="stylesheet" href="../static/css/index.css">

	<link rel="stylesheet" href="../static/css/swiper.min.css">


	<link href="http://cdn.bootcss.com/normalize/4.2.0/normalize.min.css" rel="stylesheet">

	<title>名人书画</title>


	<script src="../static/js/jquery-1.6.4.min.js"></script>
	<script src="../static/js/index.js"></script>
	<script src="../static/js/unslider.min.js"></script>
	<script src="../static/js/swiper.min.js"></script>

	<style>

	li{ list-style-type: none; }
</style>
</head>
<body>
	<div class="page-box">
		
		<div class="container">
			<div class="top">
				<div style="margin:0 auto;width: 64%;height: 118px;">
					<div class="logo">
						<img src="../static/images/logo.png">
					</div>
					<!-- <div class="login-register">
						<span >登录</span>
						<span>|</span>
						<span>注册</span>
					</div> -->
				</div>
			</div>
			<div class="head">
				<ul class="nav nav-tabs">
					<li>
						<a href="index.html" class="">首 页</a>
					</li>
					<li>
						<a href="About.html" class="">公司简介</a>
					</li>
					<li>
						<a href="Draw.html" class="active">名人名画</a>
					</li>
					<li>
						<a href="Sale.html" class="">慈善拍卖</a>
					</li>
					<li>
						<a href="News.html" class="">新闻中心</a>
					</li>
					<li>
						<a href="ContactUs.html" class="">联系我们</a>
					</li>
				</ul>
			</div>
		</div>

		<div class="drawdetail_middle">
			<div class="dd_0">
				<div class="dd_1">
					<a href="index.html"><font style="color: #000">首页</font></a>
					<font>></font>
					<a href="Draw.html"><font style="color: #000">名人书画</font></a>
					<font>></font>
					<font style="color: #000">产品详情</font>
				</div>
				<div class="dd_2">
					<div class="dd_21">
						<img src="../static/images/mmexport1521693634658.jpg">
					</div>
					<div class="dd_22">
						<div class="dd_221">
							<img src="../static/images/乔瑞臣照片.png" >
						</div>
						<div class="dd_222">
							<font style="font-size: 20px;color: #000;">作品名称</font></br>
							<font style="color: #797979;font-size: 14px">作者：</font><font style="color: #797979;font-size: 16px">aiyayay</font></br>
							<font style="color: #797979;font-size: 16px">作品分类：</font><font style="color: #797979;font-size: 16px">中国画</font></br>

						</div>
						<div class="dd_223">
							<font style="font-size: 24px;color: #c19d7d;">展示售卖中</font></br>
							<font style="font-size: 16px;color: #797979;">（可定制）</font></br>

						</div>
						<div class="dd_224">
							
							<font style="font-size: 16px;color: #797979;">商家电话：</font>
							<font style="font-size: 16px;color: #c19d7d;">12345678977</font>
						</br>
						<a href="Draw.html">
							<img src="../static/images/返回.png">
						</a>
						<font style="font-size: 16px;color: #797979;">返回作品列表</font></br>
						<font style="font-size: 14px;color: #797979;">分享到：</font>
						<div class="bdsharebuttonbox">
	<a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
	<a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
		<a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a></div>
						<button type="submit" class="plan" >立即预定</button>
					</div>
				</div>
			</div>
			





			<div class="dd_3">
				<div class="dd_31">
				<font>定制价格区间：9000-20000
				</font></div>
				
				<div class="dd_33">
				<font >技法： </font></div>
				<div class="dd_33">
				<font>系列：</font></div>
				<div class="dd_33">
				<font>材质：</font></div>
				<div class="dd_33">
				<font>装裱：</font></div>
				<div class="dd_33">
				<font>使用空间：客厅装饰中国画</font></div>
				<div class="dd_33">
				<font>创作年代：2018年</font></div>
				<div class="dd_33">
				<font>尺寸：166cm*180cm</font></div>
				<div class="dd_33">
				<font>作品信息</font></div>
				
			</div>
		</div>

		<div class="lianxi">
			<div style="margin:0 auto;width: 1200px;">
				<div style="padding: 80px 0; ">
					<div style="width:100px;margin-left: 294px;margin-right: 70px;float: left; padding-top: 15px">
						<HR style="width:100px; color:#9e9f9a; SIZE:2;align:center;"></HR>
					</div>

					<font style="font-size: 25px">预定请预留您的信息</font>

					<div style="width:100px;margin-right: 294px;margin-left: 70px;float: right; padding-top: 15px ">
						<HR style="width:100px; color:#9e9f9a;SIZE:2"></HR>
					</div>
				</div>
				<form action="form_action.asp" method="get" style="margin: 0 auto;width: 1200px">
				<input type="text" name="name"placeholder="姓名" value=""  class="input_1" />
					<input type="text" name="mail" placeholder="邮箱"value="" class="input_2">
					<input type="text" name="tel"placeholder="电话" value=""   class="input_1"/>
					<input type="text" name="address" placeholder="地址"value=""  class="input_2"/>
					<textarea name="say" class="text"placeholder="你想对我们说。。。"></textarea>
					<button type="submit" class="submit"style="cursor: pointer;
">提&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;交</button>
				</form>

			</div>
		</div>

	</div>






	<div class="bottom">
		<div class="bottom_1">
			<li>
				<a href="#">关于我们</a>
			</li>
			<li class="nbsp">|</li>
			<li>
				<a href="#">联系我们</a>
			</li>
			<li class="nbsp">|</li>
			<li>
				<a href="#">国伟名人书画斋</a>
			</li>
			<li class="nbsp">|</li>
			<li>
				<a href="#">新闻中心</a>
			</li>
			<li class="nbsp">|</li>
			<li>
				<a href="#">服务条款</a>
			</li>
		</div>
		<div class="bottom_2">
			<li>
				<a href="#" style="color: #a5a5a5;">友情链接：</a>
			</li>
			<li>
				<a href="#">中国美术家协会</a>
			</li>
			<li class="nbsp">|</li>
			<li>
				<a href="#">中国国家画院</a>
			</li>
			<li class="nbsp">|</li>
			<li>
				<a href="#">中国美术馆</a>
			</li>
			<li class="nbsp">|</li>
			<li>
				<a href="#">东方收藏</a>
			</li>
		</div>
		<div style="	margin-top: 25px;">

			<HR style="margin:0 auto;width:65%; color:#080707; SIZE:1">
		</div>
		<div class="bottom_3">
			Copyright 2018 国伟名人书画斋 京ICP备xxxxxxxxx号-x
		</div>
	</div>
</div>
<script>
	var swiper = new Swiper('.swiper-container', {
		spaceBetween: 30,
		centeredSlides: true,
		autoplay: {
			delay: 2500,
			disableOnInteraction: false,
		},
		pagination: {
			el: '.swiper-pagination',
			clickable: true,
		},
		navigation: {
			nextEl: '.swiper-button-next',
			prevEl: '.swiper-button-prev',
		},
	});
</script>
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdPic":"","bdStyle":"0","bdSize":"16"},"share":{},"image":{"viewList":["qzone","tsina","tqq","renren","weixin"],"viewText":"分享到：","viewSize":"16"},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["qzone","tsina","tqq","renren","weixin"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
</body>
