<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link rel="stylesheet" href="../static/css/index.css">
	<meta name="viewport" content="width=device-width,initial-scale=1" />
  <link rel="stylesheet" href="../static/css/swiper.min.css">


	<link href="http://cdn.bootcss.com/normalize/4.2.0/normalize.min.css" rel="stylesheet">

	<title>书画斋</title>

<script type="text/javascript" language="javascript" >
 function display()
{ document.getElementById("box").style.display="block";  }
function disappear()
{ document.getElementById("box").style.display="none";  } 
</script> 
	<script src="../static/js/jquery-1.6.4.min.js"></script>
	<script src="../static/js/index.js"></script>
  <script src="../static/js/swiper.min.js"></script>


	<style>

li{ list-style-type: none; }</style>
</head>
<body>
	<div class="page-box">
		
			<div class="container">
			<div class="top">
				<div style="margin:0 auto;width: 64%;height: 118px;">
				<div class="logo">
					<img src="../static/images/logo.png">
				</div>
				<!-- <div class="login-register">
					<span >登录</span>
					<span>|</span>
					<span>注册</span>
				</div> -->
			</div>
			</div>
			<div class="head">
				<ul class="nav nav-tabs">
					<li>
						<a href="#" class="active">首 页</a>
					</li>
					<li>
						<a href="About.html" class="">公司简介</a>
					</li>
					<li>
						<a href="Draw.html" class="">名人名画</a>
					</li>
					<li>
						<a href="Sale.html" class="">慈善拍卖</a>
					</li>
					<li>
						<a href="News.html" class="">新闻中心</a>
					</li>
					<li>
						<a href="ContactUs.html" class="">联系我们</a>
					</li>
				</ul>
			</div>
		</div>
	</div>


  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
      	<img class="sliderimg" src="../static/images/书画斋_02.jpg" alt="" width="100%" >
      </div>
      <div class="swiper-slide">
      	<img class="sliderimg" src="../static/images/书画斋banner2.jpg" alt="" width="100%" >
      </div>
      <div class="swiper-slide">
      	<img class="sliderimg" src="../static/images/书画斋banner.jpg" alt="" width="100%" >
      </div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
    <!-- Add Arrows -->
  </div>



		<div class="notice">
			<div style="width: 63%;margin:0 auto;height: 80px;">

				<div class="notice_1">
					最新公告
				</div>

				<div id="news" class="notice_2" >
					<ul class="mingdan" id="holder">
						<li><a href="#" target="_blank">【商讯】开展清明返乡捐资助学活动圆满顺利</a> <span  style="float: right; color: #fff;">2018-10-16</span>
						</li>

						<li><a href="#" target="_blank">【商讯】开展清明返乡捐资助学活动圆满顺利</a> <span  style="float: right; color: #fff;">2018-10-16</span>
						</li>
						<li><a href="#" target="_blank">【商讯】开展清明返乡捐资助学活动圆满顺利</a> <span  style="float: right; color: #fff;">2018-10-16</span>
						</li>
						<li><a href="#" target="_blank">【商讯】开展清明返乡捐资助学活动圆满顺利</a> <span  style="float: right; color: #fff;">2018-10-16</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="middle">

			<div class="ad">
				<img src="../static/images/4广告.png" style="width: 100%">
			</div>
			<div style="margin:0 auto; width: 1200px;height:auto;position: relative;">
				
				<div class="summary" style="top:-95px">
					<img src="../static/images/公司简介_06.jpg" alt="公司简介">
				</div>
				<div class="abstract">
					&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;国伟名人书画斋为了弘扬国粹，结合十九大精神！秉承“让名人书画，入驻平凡百姓家”的宗旨！同心 同感 同路 同行！共同打造一个积极弘扬国粹的书话斋！
				</div>
				<div class="bird">
					<img src="../static/images/喜鹊.png">
				</div>
				<div class="draw" style="top:325px">
					<img src="../static/images/公司简介_08.jpg">
				</div>

				<div class="details">
					<div class="details_1">
						<div class="inf">
							<li class="font_detail_1">作品名称</li>
							<li class="font_detail_2">作者名</li>
							<li class="font_detail_2">所属类型</li>
							<button class="btn" style="font-size: 14px;"><font style="color: #ffffff">详情</font></button>
						</div>
						<div class="inf_img">
							<img src="../static/images/书画_10.png">
						</div>
					</div>
					<div class="details_2">
						<div class="inf">
							<li class="font_detail_1">作品名称</li>
							<li class="font_detail_2">作者名</li>
							<li class="font_detail_2">所属类型</li>
							<button class="btn" style="font-size: 14px;"><font style="color: #ffffff">详情</font></button>
						</div>
						<div class="inf_img">
							<img src="../static/images/书画_12.png">
						</div>
					</div>
					<div class="details_3">
						<div class="inf">
							<li class="font_detail_1">作品名称</li>
							<li class="font_detail_2">作者名</li>
							<li class="font_detail_2">所属类型</li>
							<button class="btn" style="font-size: 14px;"><font style="color: #ffffff">详情</font></button>
						</div>
						<div class="inf_img">
							<img src="../static/images/书画_14.png">
						</div>
					</div>
					
				</div>
				<div class="details">
					<div class="details_1">
						<div class="inf">
							<li class="font_detail_1">作品名称</li>
							<li class="font_detail_2">作者名</li>
							<li class="font_detail_2">所属类型</li>
							<button class="btn" style="font-size: 14px;"><font style="color: #ffffff">详情</font></button>
						</div>
						<div class="inf_img">
							<img src="../static/images/书画_10.png">
						</div>
					</div>
					<div class="details_2">
						<div class="inf">
							<li class="font_detail_1">作品名称</li>
							<li class="font_detail_2">作者名</li>
							<li class="font_detail_2">所属类型</li>
							<button class="btn" style="font-size: 14px;"><font style="color: #ffffff">详情</font></button>
						</div>
						<div class="inf_img">
							<img src="../static/images/书画_12.png">
						</div>
					</div>
					<div class="details_3">
						<div class="inf">
							<li class="font_detail_1">作品名称</li>
							<li class="font_detail_2">作者名</li>
							<li class="font_detail_2">所属类型</li>							
							<button class="btn" style="font-size: 14px;"><font style="color: #ffffff">详情</font></button>
						</div>
						<div class="inf_img">
							<img src="../static/images/书画_14.png">
						</div>
					</div>
					
				</div>
			</div>
			
		</div>
		<div class="middle_2">

			<div class="ad">
				<img src="../static/images/7拍卖广告.png" style="width: 100%">
			</div>
			<div style="margin:0 auto; width: 1200px;height: 1274px;position: relative;">
				
				<div class="sell_1" style="top:-95px;">
					<img src="../static/images/拍卖_27.png" alt="拍卖">
				</div>
				
				<div class="sell_2" style="top:685px;">
					<img src="../static/images/拍卖_41.png" alt="新闻">
				</div>

				<div class="sell_3">
					<ul class="pic">
					<li><img src="../static/images/拍卖_29.png" style="width: 168px;height: 276px;"></li>
				
					<li><img src="../static/images/拍卖_30.png" style="width: 168px;height: 276px;">
					<div class="box">shsfhshfdh</div>
				</li>
					<li><img src="../static/images/拍卖_31.png" style="width: 168px;height: 276px;"></li>
					<li><img src="../static/images/拍卖_32.png" style="width: 168px;height: 276px;"></li>
					<li><img src="../static/images/拍卖_33.png" style="width: 168px;height: 276px;"></li>
					<li><img src="../static/images/拍卖_35.png" style="width: 168px;height: 276px;"></li>
					<li><img src="../static/images/拍卖_36.png" style="width: 168px;height: 276px;"></li>
					<li><img src="../static/images/拍卖_37.png" style="width: 168px;height: 276px;"></li>
					<li><img src="../static/images/拍卖_38.png" style="width: 168px;height: 276px;"></li>
					<li><img src="../static/images/拍卖_39.png" style="width: 168px;height: 276px;"></li>
				</ul>
				</div>
				<div class="news_1">
					<img src="../static/images/新闻中心.png">
				</div>
				<div class="news_2">
					<div class="news_21" >
						<font style="color: #000000;font-size: 24px;">11</font>
						<font style="color: #8a8a8b;">/</font>
						<font style="color: #8a8a8b;font-size: 18px;">06</font></br>
						<font style="color: #000000;font-size: 24px;">书画慈善拍卖</font></br>
						<font style="color:#8a8a8b;font-size: 16px;">  书画慈善拍卖书画慈善拍卖书画慈善拍卖 书画慈善拍卖书画慈善拍卖书画慈善拍卖。</font>
					</div>
					<div class="news_22" >
						<font style="color: #000000;font-size: 24px;">11</font>
						<font style="color: #8a8a8b;">/</font>
						<font style="color: #8a8a8b;font-size: 18px;">06</font></br>
						<font style="color: #000000;font-size: 24px;">书画慈善拍卖</font></br>
						<font style="color:#8a8a8b;font-size: 16px;">  书画慈善拍卖书画慈善拍卖书画慈善拍卖 书画慈善拍卖书画慈善拍卖书画慈善拍卖。</font>
					</div>
				</div>
			</div>
			
		</div>
		<div class="bottom">
			<div class="bottom_1">
				<li>
					<a href="#">关于我们</a>
				</li>
				<li class="nbsp">|</li>
				<li>
					<a href="#">联系我们</a>
				</li>
				<li class="nbsp">|</li>
				<li>
					<a href="#">国伟名人书画斋</a>
				</li>
				<li class="nbsp">|</li>
				<li>
					<a href="#">新闻中心</a>
				</li>
				<li class="nbsp">|</li>
				<li>
					<a href="#">服务条款</a>
				</li>
			</div>
			<div class="bottom_2">
				<li>
					<a href="#" style="color: #a5a5a5;">友情链接：</a>
				</li>
				<li>
					<a href="#">中国美术家协会</a>
				</li>
				<li class="nbsp">|</li>
				<li>
					<a href="#">中国国家画院</a>
				</li>
				<li class="nbsp">|</li>
				<li>
					<a href="#">中国美术馆</a>
				</li>
				<li class="nbsp">|</li>
				<li>
					<a href="#">东方收藏</a>
				</li>
			</div>
			<div style="	margin-top: 25px;">

				<HR style="margin:0 auto;width:65%; color:#080707; SIZE:1">
			</div>
			<div class="bottom_3">
				Copyright 2018 国伟名人书画斋 京ICP备xxxxxxxxx号-x
			</div>
		</div>
	</div>
<script>
    var swiper = new Swiper('.swiper-container', {
      spaceBetween: 30,
      centeredSlides: true,
      autoplay: {
        delay: 2500,
        disableOnInteraction: false,
      },
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
    });
  </script>
</body>

