<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link rel="stylesheet" href="../static/css/index.css">
	<link rel="stylesheet" href="../static/css/swiper.min.css">


	<link href="http://cdn.bootcss.com/normalize/4.2.0/normalize.min.css" rel="stylesheet">

	<title>书画斋</title>

	<script type="text/javascript" language="javascript" >
		function display()
		{ document.getElementById("box").style.display="block";  }
		function disappear()
		{ document.getElementById("box").style.display="none";  } 
	</script> 
	<script src="../static/js/jquery-1.6.4.min.js"></script>
	<script src="../static/js/index.js"></script>
	<script src="../static/js/swiper.min.js"></script>


	<style>

li{ list-style-type: none; }</style>
</head>
<body>
	<div class="page-box">
		
		<div class="container">
			<div class="top">
				<div style="margin:0 auto;width: 64%;height: 118px;">
					<div class="logo">
						<img src="../static/images/logo.png">
					</div>
					<!-- <div class="login-register">
						<span >登录</span>
						<span>|</span>
						<span>注册</span>
					</div> -->
				</div>
			</div>
			<div class="head">
				<ul class="nav nav-tabs">
					<li>
						<a href="#" class="">首 页</a>
					</li>
					<li>
						<a href="About.html" class="">公司简介</a>
					</li>
					<li>
						<a href="Draw.html" class="">名人名画</a>
					</li>
					<li>
						<a href="Sale.html" class="">慈善拍卖</a>
					</li>
					<li>
						<a href="News.html" class="active">新闻中心</a>
					</li>
					<li>
						<a href="ContactUs.html" class="">联系我们</a>
					</li>
				</ul>
			</div>
		</div>

		<div class="nd_middle">
			<div class="nd_0">
				<div class="nd_1">
					<a href="index.html"><font style="color: #000;">首页</font></a>><a href="News.html"><font style="color: #000;">新闻中心</font></a>><font style="color: #c19d7d;">开展清明。。。</font>
				</div>
				<HR style="width:1200px; color:#000;margin-top:60px;size: 2"></HR>

				<div class="nd_2">
					<font>【商讯】开展清明返乡捐资......</font>
				</div>
				<div class="nd_3">
					<font style="font-size: 16px;color: #666666;margin-right: 20px;">2018-06-21</font>
					<font style="font-size: 16px;color: #666666;">20:26:26</font>
				</div>
				<HR style="width:1200px; color:#797979;margin-top:20px;size: 2"></HR>
				<div class="nd_4">
					<p>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4月4日借助清明返乡之际，我会与国伟名人书画斋联合举办“心系桑梓、情暖学子”公益活动；经商会执委,4月4日借助清明返乡之际，我会与国伟名人书画斋联合举办“心系桑梓、情暖学子”公益活动；经商会执.4月4日借助清明返乡之际，我会与国伟名人书画斋联合举办“心系桑梓、情暖学子”公益活动；经商会执委.4月4日借助清明返乡之际，我会与国伟名人书画斋联合举办“心系桑梓、情暖学子”公益活动；经商会执委.4月4日借助清明返乡之际，我会与国伟名人书画斋联合举办“心系桑梓、情暖学子”公益活动；经商会执.4月4日借助清明返乡之际，我会与国伟名人书画斋联合举办“心系桑梓、情暖学子”公益活动；4月4日借助清明返乡之际，我会与国伟名人书画斋联合举办“心系桑梓、情暖学子”公益活动；经商会执委......</p>
					<img src="../static/images/门店详情图片.png">
					<p>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4月4日借助清明返乡之际，我会与国伟名人书画斋联合举办“心系桑梓、情暖学子”公益活动；经商会执委,4月4日借助清明返乡之际，我会与国伟名人书画斋联合举办“心系桑梓、情暖学子”公益活动；经商会执.4月4日借助清明返乡之际，我会与国伟名人书画斋联合举办“心系桑梓、情暖学子”公益活动；经商会执委.4月4日借助清明返乡之际，我会与国伟名人书画斋联合举办“心系桑梓、情暖学子”公益活动；经商会执委.4月4日借助清明返乡之际，我会与国伟名人书画斋联合举办“心系桑梓、情暖学子”公益活动；经商会执.4月4日借助清明返乡之际，我会与国伟名人书画斋联合举办“心系桑梓、情暖学子”公益活动；4月4日借助清明返乡之际，我会与国伟名人书画斋联合举办“心系桑梓、情暖学子”公益活动；经商会执委......</p>
					<HR style="width:1200px; color:#797979;margin-top:20px;size: 2"></HR>
					<div class="nd_5">
						<font style="font-size: 16px;">分享到：</font><div class="bdsharebuttonbox">
	<a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
	<a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
		<a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a></div>
					</div>

				</div>
			</div>

		</div>





		<div class="bottom">
			<div class="bottom_1">
				<li>
					<a href="#">关于我们</a>
				</li>
				<li class="nbsp">|</li>
				<li>
					<a href="#">联系我们</a>
				</li>
				<li class="nbsp">|</li>
				<li>
					<a href="#">国伟名人书画斋</a>
				</li>
				<li class="nbsp">|</li>
				<li>
					<a href="#">新闻中心</a>
				</li>
				<li class="nbsp">|</li>
				<li>
					<a href="#">服务条款</a>
				</li>
			</div>
			<div class="bottom_2">
				<li>
					<a href="#" style="color: #a5a5a5;">友情链接：</a>
				</li>
				<li>
					<a href="#">中国美术家协会</a>
				</li>
				<li class="nbsp">|</li>
				<li>
					<a href="#">中国国家画院</a>
				</li>
				<li class="nbsp">|</li>
				<li>
					<a href="#">中国美术馆</a>
				</li>
				<li class="nbsp">|</li>
				<li>
					<a href="#">东方收藏</a>
				</li>
			</div>
			<div style="	margin-top: 25px;">

				<HR style="margin:0 auto;width:65%; color:#080707; SIZE:1">
			</div>
			<div class="bottom_3">
				Copyright 2018 国伟名人书画斋 京ICP备xxxxxxxxx号-x
			</div>
		</div>
	</div>
	<script>
		var swiper = new Swiper('.swiper-container', {
			spaceBetween: 30,
			centeredSlides: true,
			autoplay: {
				delay: 2500,
				disableOnInteraction: false,
			},
			pagination: {
				el: '.swiper-pagination',
				clickable: true,
			},
			navigation: {
				nextEl: '.swiper-button-next',
				prevEl: '.swiper-button-prev',
			},
		});
	</script>
	<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdPic":"","bdStyle":"0","bdSize":"16"},"share":{},"image":{"viewList":["qzone","tsina","tqq","renren","weixin"],"viewText":"分享到：","viewSize":"16"},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["qzone","tsina","tqq","renren","weixin"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
</body>

